th,td{padding:5px 10px;text-align:center;}
thead{background:#ddd;}

table,th,td{border:1px solid #ccc;border-collapse: collapse;}
.bg{background:#0080FF;}
.shade{position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(255,255,255,0.8);overflow: scroll;}
.pop{position:absolute;top:100px;left:20px;background:#fff;opacity:1;}
.pagination>input{width:20px;height:20px;margin:5px;}