#cake{height:100%;display:flex;flex-direction: column;}
#cake>.header{height:80px;background:#0096FF;text-align:center;line-height:80px;font-size:50px;color:#fff;position:relative;}
#cake>.header>h1{font-size:40px;}
#cake>.header>select{position:absolute;left:20px;top:20px;}
#cake>.header>.my{position:absolute;right:20px;top:0px;height:50px;}
#cake>.header>.my>i{font-size:20px;font-style:normal;}

#cake>.main{flex:1;display:flex;}
#cake>.main>.left{width:130px;background:#2B3141;}
#cake>.main>.left>li>a{display:block;height:50px;line-height:50px;color:white;text-align:center;border-bottom:1px solid #666;}
#cake>.main>.right{flex:1;overflow:scroll;}
.login{height:100%;background:#00FFFF;position:relative;}
.login>.loginentrance{width:300px;height:200px;border:1px solid #ccc;background:#CACAD9;position:absolute;left:50%;margin-left:-150px;top:50%;margin-top:-200px;}
.login>.loginentrance>p:nth-child(1){padding-top:10px;font-size:30px;text-align:center;color:white;font-weight: bold;}
.login>.loginentrance>p{padding-left:20px;margin-top:10px;}
.login>.loginentrance>p:nth-child(4){text-align:center;}
.login>.loginentrance>p:nth-child(4)>input{width:100px;}
.selected{background:#FF8000;}